# https://clang.llvm.org/docs/ClangFormatStyleOptions.html
IndentWidth: 4
ColumnLimit: 180
UseTab: Never
AllowShortIfStatementsOnASingleLine: false
UseCRLF: false
AlignArrayOfStructures: None
AlignTrailingComments: true
AllowShortBlocksOnASingleLine: Empty
AllowShortCaseLabelsOnASingleLine: false
AllowShortEnumsOnASingleLine: false
AllowShortFunctionsOnASingleLine: Empty
AlwaysBreakTemplateDeclarations: Yes
PointerAlignment: Left
QualifierAlignment: Right
SpaceAroundPointerQualifiers: Before
SpaceBeforeCaseColon: false
SpaceBeforeCpp11BracedList: true
SpaceBeforeCtorInitializerColon: true
SpaceBeforeInheritanceColon: true
SpaceBeforeRangeBasedForLoopColon: true
SpaceBeforeSquareBrackets: false
SpaceInEmptyBlock: false
SpaceInEmptyParentheses: false
SpacesInAngles: Never
SpacesInCStyleCastParentheses: false
SpacesInConditionalStatement: false
SpacesInContainerLiterals: false
SpaceAfterLogicalNot: false
SpaceAfterTemplateKeyword: true
AccessModifierOffset: -4
NamespaceIndentation: All
SortIncludes: Never
# RemoveBracesLLVM: true